body {font-family: Helvetica, sans-serif; font-size: 12px; margin: 0;}

div.auth a {
    border-radius: 999em;
    background: orange;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}

div.auth {margin-bottom: 1em;}

/* general table styles */

th {text-align: left;}

table.objectives.detail {
    width: 100%;
    border-collapse: collapse;
}
table.objectives tr {background: var(--body-bg)}
table.objectives td {border-bottom: none;}

table.objectives td, th {padding: 4px 8px 4px;}


tr.condition td, th {padding: 2px 8px 2px;}


th.projectobjectivegroup {
    background: #D9EAD3;
    color: black; font-weight: bold;
    padding-top: 10px; padding-bottom: 10px; margin-top: 10px;
}

td.workcycle {color: white; background: #6AA84F;}
td.workcycle.current {color: black; font-weight: bold;}

/* work statuses */

td.not-applicable {color: black; background: #CCCCCC}
td.paused {color: black; background: #FCE5CD}
td.planned {color: black; background: #FFF2CC}
td.deferred {color: black; background: #FCE5CD}
td.blocked, td.inactive {color: black; background: #EAD1DC;}

/* result statuses */

td.started {color: black; background: #B6D7A8}
td.first-results {color: black; background: #6AA84F}
td.mature-results, td.done, td.all-ok {color: white; background: #38761D}

/* condition items */

.attributes {float: right; color: #bbb; padding-left: 1em;}
.attributes span {margin-left: 1em; padding: 0px 4px;}

tr.condition.candidate span.condition.candidate {color: orange;}
tr.condition.not-applicable span.condition.not-applicable {color: orange;}

tr.condition.not-applicable .condition.name {color: #bbb; text-decoration: line-through;}

tr.condition span.condition.has-perms:hover {
    cursor: default;
    border-radius: 999em; outline: 1px solid orange;
}
