<tr
  class="
    condition
    {% if condition.not_applicable %}not-applicable{% endif %}
    {% if condition.candidate %}candidate{% endif %}
  "
>
  <td>
    <input type="checkbox"
      {% if condition.done %} checked {% endif %}
      {% if not perms.projects.change_commitment %}
        disabled
      {% else %}
        data-testid="toggle_condition_{{ condition.id }}"
        hx-put="{% url 'projects:action_toggle_condition' condition.id %}"
        hx-target="closest tr"
        hx-swap="outerHTML"
      {% endif %}
      />
  </td>
  <td class="condition name">
    {{ condition.name }}
    <div class="attributes">
      <span
        {% if not perms.projects.change_projectobjectivecondition %}
          class="condition not-applicable"
        {% else %}
          class="condition not-applicable has-perms"
          hx-put="{% url 'projects:action_condition_toggle_not_applicable' condition.id %}"
          hx-trigger="click delay:.5s"
          hx-target="closest tr"
          hx-swap="outerHTML"
        {% endif %}>na</span>
      <span
        {% if not perms.projects.change_projectobjectivecondition %}
          class="condition candidate"
        {% else %}
          class="condition candidate has-perms"
          hx-put="{% url 'projects:action_condition_toggle_candidate' condition.id %}"
          hx-trigger="click delay:.5s"
          hx-target="closest tr"
          hx-swap="outerHTML"
      {% endif %}>candidate</span>
  </div>
  </td>
  <td class="commitment-blank" colspan="{{ workcycle_count }}"></td>
</tr>
