<td colspan="2">

  <select
    name="ifnotstarted"
    id="projectobjective_ifnotstarted_{{ projectobjective.id }}"
    class="{{ projectobjective.ifnotstarted|lower|slugify }}"
    data-testid="projectobjective_ifnotstarted_{{ projectobjective.id }}">

    {% for reason in unstarted_reasons %}
      <option
        value="{{ reason }}"
        {% if reason_value == projectobjective.unstarted_reason %}selected{% endif %}
        >
        {{ reason }}
      </option>
    {% endfor %}
  </select>
</td>

{% for work_cycle in work_cycles %}<td class="workcycle">{{ work_cycle }}</td>{% endfor %}