{% load project_tags %}

<div class="inline-group">
  <div class="tabular inline-related">

    {% regroup project.projectobjective_set.all by objective.group as projectobjectivegroups %}

    <table class="objectives detail">

      {% for projectobjectivegroup, projectobjectives in projectobjectivegroups %}

        {% if projectobjectivegroup %}
          <tr>
            <th class="projectobjectivegroup" colspan="{{ workcycle_count|add:'2' }}">
              {{ projectobjectivegroup }}
            </th>
          </tr>
        {% endif %}

        {% for projectobjective in projectobjectives %}

          <tbody id="projectobjective-{{ projectobjective.id }}">

            <tr id="projectobjective-{{ projectobjective.id }}" class="objective">
              <td colspan="{{ workcycle_count|add:'2' }}" class="objective name">
                {{ projectobjective.objective }}
              </td>
            </tr>

            <tr class="">
              <td colspan="2" class="objective description">
                {{ projectobjective.objective.description|default:"" }}
              </td>
              <td colspan="{{ workcycle_count }}" class="commitment-blank"></td>
            </tr>

            <tr class="">
              {% include "projects/partial_objectivestatus.html" %}
              <td></td>
              {% for work_cycle in work_cycles %}
                <td class="workcycle {% if work_cycle.is_current %}current{% endif %}">{{ work_cycle }}</td>
              {% endfor %}

            </tr>

            {% regroup projectobjective.projectobjectiveconditions by level as levels %}
            {% regroup projectobjective.commitments by level as commitments %}
            {% pack levels commitments as level_collections %}

            {% for condition, commitment in level_collections %}

              <tr id="" class="level">
                <td colspan="2" class="">{{ condition.grouper }}</td>

                {% for commitment in commitment.list %}
                  {% include "projects/partial_commitment.html" %}
                {% endfor %}

              </tr>

              {% for condition in condition.list %}
                {% include "projects/partial_condition.html" %}
              {% endfor %}

            {% endfor %}
          </tbody>

        {% endfor %}
      {% endfor %}
    </table>

  </div>
</div>