<table
  id="commitment-table"
  hx-swap-oob="outerHTML"
  hx-trigger="
    change from:input[type='checkbox'] delay:.5s,
    change from:select.unstarted-reason,
    click from:div.attributes delay:.5s"
  hx-get="{% url 'projects:status_projects_commitment' project.id %}">

  <h2>Current commitments</h2>
  <tbody>
    <tr><th>Objective</th><th>Level</th><th colspan="2">Status</th></tr>
    {% for commitment in current_commitments %}
      <tr class="condition">
        <td><a href="#{{ commitment.projectobjective.name|slugify }}">{{ commitment.objective }}</a></td>
        <td>{{ commitment.level }}</td>
        <td>
          <input
            type="checkbox" disabled
            data-testid="commitment_met_checkbox_{{ commitment.id }}"
            {% if commitment.met %} checked {% endif %}
            />
          </td>
          <td>{% if not commitment.met and not commitment.level %}{{ commitment.projectobjective.unstarted_reason|default:"" }}{% endif %}</td>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
