<tr>
  <th class="sticky project-name" scope="row">
    <a href="{% url 'projects:project' project.id %}">{{ project }}</a>
  </th>
  <td><a href="{% url 'projects:project' project.id %}">{{ project.owner }}</a></td>
  <td><a href="{% url 'projects:project' project.id %}">{{ project.driver|default:"" }}</a></td>
  <td class="{{ project.review_freshness }}">
    <a href="{% url 'projects:project' project.id %}">{{ project.last_review|default:"" }}</a>
  </td>

  {% for qi in project.quality_history %}<td>{{ qi.value }}</td>{% endfor %}

  <td><a href="{% url 'projects:project' project.id %}">{{ project.current_qi }}</a></td>
  <td class="{{ project.expectations_review_status|slugify }}"><a href="{% url 'projects:project' project.id %}">{{ project.expectations_review_status|default:"Unreviewed" }}</a></td>

  {% for projectobjective in project.projectobjective_set.all %}
    <td class="{{ projectobjective.status|slugify }}">
      <a href="{% url 'projects:project' projectobjective.project.id %}#{{ projectobjective|slugify }} ">
        {{ projectobjective.status|default:"—" }} {{ projectobjective.level_achieved }}
      </a>
    </td>

  {% endfor %}

</tr>