<td
  id="projectobjective_status_{{ projectobjective.id }}"
  class="{{ projectobjective.level_achieved|lower|slugify }}"
  data-testid="projectobjective_status_{{ projectobjective.id }}"
  hx-trigger="
    change from:tbody#{{ projectobjective.name|slugify }} input[type='checkbox'] delay:.5s,
    click from:tbody#{{ projectobjective.name|slugify }} div.attributes delay:.5s"
  hx-get="{% url 'projects:status_projectobjective' projectobjective.id %}"
  hx-swap-oob="true">
  {% if projectobjective.level_achieved %}

    {{ projectobjective.status }}

  {% else %}
    <select
      {% if not perms.projects.change_projectobjectivecondition %}disabled{% endif %}
      autocomplete="off"
      name="ifnotstarted"
      id="projectobjective_ifnotstarted_{{ projectobjective.id }}"
      data-testid="projectobjective_ifnotstarted_{{ projectobjective.id }}"
      hx-put="{% url 'projects:action_select_reason' projectobjective.id %}"
      hx-swap="none"
      hx-on:htmx:before-request="this.disabled = true"
      hx-on:htmx:after-request="this.disabled = false"
      >
      <option value></option>
      {% for reason in unstarted_reasons %}
        <option value="{{ reason.id }}"
          {% if reason.id == projectobjective.unstarted_reason.id %}selected{% endif %}
          >
          {{ reason }}
        </option>
      {% endfor %}
    </select>

  {% endif %}
</td>
