{% extends "base.html" %}

{% load project_tags %}
{% load i18n static %}

{% block extrahead %}
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <link rel="stylesheet" href="{% static "admin/css/base.css" %}">
  <link rel="stylesheet" href="{% static "admin.css" %}">

{% endblock %}

{% block body_attributes %}
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
{% endblock %}

{% block content %}

<div id="container">
  <div class="main" id="main">
    <main id="content-start" class="content">
      <div id="content" class="colM">
        <div id="content-main">
          <div>

            <div class="submit-row">
              <div>{{ project.name }}</div>
              <div>{{ project.group }}</div>
              <div>{{ project.owner }}</div>
              <div>{{ project.driver }}</div>
              <div>{{ project.last_review }}</div>
              <div>{{ project.last_review_status }}</div>
            </div>
          </div>

          <div class="inline-group">
            <div class="tabular inline-related">

              <table class="objectives">
                <tbody>

                  {% for projectobjective in project.projectobjective_set.all %}

                    <tr class="objective">
                      <td colspan="{{ work_cycle_count|add:'2' }}" class="objective name">
                        {{ projectobjective.objective.name }}
                      </td>
                    </tr>

                    <tr class="">
                      <td colspan="2" class="">{{ projectobjective.objective.description|default:"" }}</td>
                      <td colspan="{{ work_cycle_count }}" class="commitment-blank"></td>
                    </tr>

                    <tr class="">
                      {% include "projects/partial_objectivestatus.html" %}
                      <td></td>
                      <td colspan="{{ work_cycle_count }}" class="commitment-blank"></td>
                    </tr>

                    <tr class="">
                      {% include "projects/partial_objectiveifnotstarted.html" %}
                    </tr>

                    {% regroup projectobjective.projectobjectiveconditions by level as levels %}
                    {% regroup projectobjective.levelcommitments by level as commitments %}
                    {% pack levels commitments as level_collections %}

                    {% for condition, commitment in level_collections %}

                      <tr class="level">
                        <td colspan="2" class="">{{ condition.grouper }}</td>

                        {% for commitment in commitment.list %}
                          {% include "projects/partial_levelcommitment.html" %}
                        {% endfor %}

                      </tr>

                      {% for condition in condition.list %}
                        {% include "projects/partial_condition.html" %}
                      {% endfor %}

                    {% endfor %}
                  {% endfor %}

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock content %}
