{% extends "base.html" %}
{% load project_tags %}

{% block content %}
  <div class="wrapper">

    <div>
      <div>{{ project.name }}</div>
      <div>{{ project.group }}</div>
      <div>{{ project.owner }}</div>
      <div>{{ project.driver }}</div>
      <div>{{ project.last_review }}</div>
      <div>{{ project.last_review_status }}</div>
    </div>

<table class="objectives">

  {% regroup project.projectobjectivecondition_set.all by projectobjective as objective_list %}
  {% regroup commitments by projectobjective as commitment_list %}
  {% pack objective_list commitment_list as projectobjective_list %}

  {% for objective, commitment in projectobjective_list %}

    <tr class="">
      <td colspan="{{ work_cycle_count|add:'2' }}" class="">
        {{ objective.grouper.name }}
      </td>
    </tr>

    <tr class="">
      <td colspan="2" class="">{{ objective.grouper.objective.description|default:"" }}</td>
      <td colspan="{{ work_cycle_count }}"></td>
    </tr>

    <tr class="">
      <td class="{{ objective.grouper.status|lower|slugify }}">{{ objective.grouper.status }}</td>
      <td></td>
      <td colspan="{{ work_cycle_count }}"></td>
    </tr>

    <tr class="">
      <td colspan="2" class="">{{ objective.grouper.if_not_started|default:"" }}</td>
      {% for work_cycle in work_cycles %}<td class="">{{ work_cycle }}</td>{% endfor %}
    </tr>

    {% regroup objective.list by level as level_list %}
    {% regroup commitment.list by level as commitment_list %}
    {% pack level_list commitment_list as objective_list %}


    {% for level, commitments in objective_list %}
      <tr class="">
        <td colspan="2" class="">{{ level.grouper }}
        </td>
        {% for commitment in commitments.list %}<td>{{ commitment.committed }}</td>{% endfor %}
      </tr>

      {% for condition in level.list %}
        <tr class=""><td class="">{{ condition.done }}</td><td class="">{{ condition.name }}</td></tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</table>

{% endblock content %}
