{% extends "base.html" %}

{% load project_tags %}
{% load i18n static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static "admin.css" %}">
  <script src="{% static 'htmx.min.js' %}"></script>
{% endblock %}

{% block title %}{{ project}}{% endblock %}

{% block body_attributes %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endblock %}

{% block content %}

  <div id="container">

    <nav class="navigation">
      <ul>
        <li><a href="{% url 'projects:project_list' %}">Dashboard</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          <li>Logged in as {{ user.username }}</li>
          <li>
            <form action="{% url 'logout' %}?next={{ request.path }}" method="post">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}?next={{ request.path }}">Log in</a></li>
        {% endif %}
      </ul>
    </nav>

    <h1>{{ project }}</h1>

    <div class="main" id="main">
      <main id="content-start" class="content">
        <div id="content" class="colM">
          <div id="content-main">

            <div>{% include "projects/partial_project_basics.html" %}</div>

            <hr>

            <div>{% include "projects/partial_project_commitments.html" %}</div>

            <hr>

            {% include "projects/partial_projectobjectives.html" %}

          </div>
        </div>
      </main>
    </div>
  </div>

{% endblock content %}
