{% extends "base.html" %}

{% load project_tags static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'project-list.css' %}">
  <script src="{% static 'htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <table class="table-auto">
      <thead>

        <tr class="headings">
          <th scope="col" class="acountability">Project</th>
          <th scope="col" class="acountability">Owner</th>
          <th scope="col" class="acountability">Driver</th>

          <th scope="col" class="quality">Agreement</th>
          <th scope="col" class="quality">Last review</th>
          {% for workcycle in workcycle_list %}
            <th scope="col" class="quality">
              <a href="{% url 'admin:framework_workcycle_change' workcycle.id %}">{{ workcycle.name }}</a>
            </th>
          {% endfor %}
          <th scope="col" class="quality">QI</th>
          <th scope="col" class="quality">Expectations review</th>

          {% for objective in objective_list %}
            <th scope="col" class="objective">
              <a href="{% url 'admin:framework_objective_change' objective.id %}">{{ objective.name }}</a>
            </th>
          {% endfor %}
        </tr>

        <tr class="column-groups">
          <td class="acountability" colspan="3"></td>
          <td class="quality" colspan="{{ quality_cols_count }}">Progress and quality</td>
          {% regroup objective_list by group as objectives %}
          {% for group in objectives %}
            <td class="objective" colspan="{{ group.list|length }}">{{ group.grouper }}
          {% endfor %}
        </tr>

      </thead>

      {% regroup object_list by group as project_groups %}

      {% for group, projects in project_groups %}
        {% if group %}
          <tr class="row-group"><td colspan="{{ column_count }}">{{ group }}</td></tr>
        {% endif %}
        {% for project in projects %}

          <tr>
            <th class="sticky project-name" scope="row">
              <a href="{% url 'projects:project' project.id %}">{{ project }}</a>
            </th>
            <td><a href="{% url 'projects:project' project.id %}">{{ project.owner }}</a></td>
            <td><a href="{% url 'projects:project' project.id %}">{{ project.driver|default:"" }}</a></td>

            <td class="agreement-status"><a href="{% url 'projects:project' project.id %}">{{ project.agreement_status|default:"" }}</a></td>
            <td class="{{ project.review_freshness }}">
              <a href="{% url 'projects:project' project.id %}">{{ project.last_review|default:"" }}</a>
            </td>

            {% for qi in project.quality_history %}<td>{{ qi.value }}</td>{% endfor %}

            <td><a href="{% url 'projects:project' project.id %}">{{ project.quality_indicator }}</a></td>
            <td class="{{ project.expectations_review_status|slugify }}"><a href="{% url 'projects:project' project.id %}">{{ project.expectations_review_status|default:"Unreviewed" }}</a></td>

            {% for projectobjective in project.projectobjective_set.all %}
              <td
                hx-get="{% url 'projects:status_dashboardprojectobjective' projectobjective.id %}"
                hx-trigger="intersect"
                hx-swap="outerHTML"
                >
                <a href="{% url 'projects:project' projectobjective.project.id %}#{{ projectobjective|slugify }}">…</a>
              </td>
            {% endfor %}

          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
