<form method="post">

  {{ projectobjectives_formset.management_form }}

    {% for projectobjectives_form in projectobjectives_formset %}

    <h1>The form</h1>

    {{ projectobjectives_form }}

    <h1>Things that will work</h1>

    <p>{{ projectobjectives_form.instance.name }}</p>
    <p>{{ projectobjectives_form.instance.objective }}</p>
    <p>{{ projectobjectives_form.instance.objective.name }}</p>

    <h1>Things that throw errors</h1>

    <p>{{ projectobjectives_form.instance.objective.id }}</p>
    <p>{{ projectobjectives_form.instance }}</p>
    <p>{% url 'projects:simplified_project_detail' projectobjectives_form.instance.id %}</p>

    {% endfor %}

</form >