body {font-family: Helvetica, sans-serif; font-size: 12px;}

/* general table styles */

th {text-align: left;}

table.objectives.detail {
    width: 100%;
    border-collapse: collapse;
}
table.objectives tr {background: var(--body-bg)}
table.objectives td {border-bottom: none;}


th.projectobjectivegroup {
    background: #D9EAD3;
    color: black; font-weight: bold;
    padding-top: 10px; padding-bottom: 10px; margin-top: 10px;
}

td.workcycle {color: white; background: #6AA84F;}
td.workcycle.current {color: black; font-weight: bold;}
td.objective.description {font-style: italic;}

/* work statuses */

td.not-applicable {color: black; background: #CCCCCC}
td.paused {color: black; background: #FCE5CD}
td.planned {color: black; background: #FFF2CC}
td.deferred {color: black; background: #FCE5CD}
td.blocked, td.inactive {color: black; background: #EAD1DC;}

/* result statuses */

td.started {color: black; background: #B6D7A8}
td.first-results {color: black; background: #6AA84F}
td.mature-results, td.done, td.all-ok {color: white; background: #38761D}

/* condition items */

.attributes {float: right; color: #bbb; padding-left: 1em;}
.attributes span {padding-left: 1em;}

tr.condition.candidate span.condition.candidate {color: black;}
tr.condition.not-applicable span.condition.not-applicable {color: black;}

tr.condition.not-applicable .condition.name {color: #bbb; text-decoration: line-through;}

tr.condition .attributes span.condition:hover {cursor: default; color: orange;}
