table.objectives tr.objective td.name {background-color: #205067; color: white; font-weight: bold; cursor: pointer; user-select: none;}
table.objectives tr.objective td.name::before {content: "▼ "; font-size: 0.75em; opacity: 0.8;}
table.objectives tbody.collapsed tr.objective td.name::before {content: "▶ ";}
table.objectives tbody.collapsed tr:not(.objective) {display: none;}
table.objectives tr.level {background-color: #f0f0f0; font-weight: bold;}

table.objectives td p, th p {margin: .2rem 0}

table.objectives select {height: 1.2rem;}
table.objectives select {height: 1.2rem; padding: 0px 6px;}  /* padding is required for Chrome for some reason */

table.objectives td.field-committed {color: white; background: #93C47D;}
table.objectives td.commitment-description {color: black; background: #D9EAD3; font-weight: bold;}

table.objectives td.no-activity {outline: 1px solid black;}

