div.wrapper {
    overflow: auto;
    max-height: 90vh;
    margin-bottom: 10px;
    border: solid black 1px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

tr.headings {position: sticky; top: 0; z-index: 20;}
tr.headings th {color: white; font-weight: bold;}
tr.headings a, tr.headings a:visited {color: white}

tr.column-groups {position: sticky; top: auto; z-index: 19;}
tr.column-groups td {font-weight: light; font-style: italic; color: white; text-align: center;}

tr td.accountability, tr th.accountability {background: #284E13;}
tr td.quality, tr th.quality {background: #0C343D;}
tr td.objective, tr th.objective {background: #284E13;}

tr.row-group td {background: #A0C5E8; font-weight: bold; width: 100%;}


/* tr.headings th {rotate: -45deg; white-space: normal} */
tr.headings th:first-child {position: sticky; top: 0; left: 0; z-index: 30; background: #284E13;}
th.sticky {position: sticky; left: 0; z-index: 10; background: white;}

th, td {padding: 6px; white-space: nowrap;}

th.project-name {font-weight: normal; text-align: left;}

table a, table a:visited {color: inherit; text-decoration: none}

th.project-name {font-weight: bold;}

td.needs-work {color: black; background: #E66439}
td.needs-review {color: black; background: #E69138}
td.mostly-met {color: black; background: #E69138}

td.new {color: white; background: #38761D}
td.acceptable {color: white; background: #B5D7A8}
td.overdue {color: white; background: #F6B26B}
td.unacceptable {color: white; background: #990001}